<nav>
    <a href="/" class="nav-brand"><img src="afri.png" alt="" class="brand"></a>
    <div class="menu-icon" onclick="toggleMenu()">☰</div>
    <ul class="nav-menu">
        <li class="close-icon" onclick="toggleMenu()">✖</li>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <% if (user) { %>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        <% } %>
        <li>
            <div class="cart-container" onclick="openCart()">
                <a href="#" class="cart-icon">🛒</a>
                <span id="cart-count" class="cart-count">0</span>
            </div>
        </li>
    </ul>
</nav>
